._container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

._globalColor {
  background: #000000;
  color: white;
}

._title {
  font-family: montserratbold;
  font-size: 50px;
  padding-bottom: 23px;
}

._text {
  font-family: notosans;
  font-size: 18px;
  line-height: 25px;
}